<div class="d-flex justify-content-center align-items-center min-vh-100 bg-dark text-light">
    <div class="card bg-success text-white shadow-lg p-4" style="width: 24rem;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form [formGroup]="authForm" (ngSubmit)="login()">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Email o Usuario</mat-label>
                <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email">
                <mat-error *ngIf="authForm.get('email')?.hasError('required')">Es <strong>requerido</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                <mat-error *ngIf="authForm.get('password')?.hasError('required')">Es <strong>requerido</strong></mat-error>
            </mat-form-field>
            <button type="submit" class="btn btn-success w-100 mt-3">Iniciar Sesión</button>
        </form>
        <p class="text-center text-light mt-3">
            ¿No tienes cuenta? 
            <a class="nav-link text-light" routerLink="/register">Registrarse</a>
        </p>
    </div>
</div>