<div class="container mt-5 bg-dark text-light">
    <h2 class="text-center mb-4">Catálogo de Películas</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-success text-white">
                <img src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0114/ERNPc4gFqeRDG1tYQIfOKQtM.png" class="card-img-top" alt="Movie Title" />
                <div class="card-body">
                    <h5 class="card-title">DOOM</h5>
                    <p class="card-text">Género: Acción - Año: 1990</p>
                    <p class="card-text">
                        <strong>Alquiler:</strong> $7.00 <br />
                        <strong>Compra:</strong> $25.00
                    </p>
                    <button class="btn btn-primary btn-sm">Ver Detalles</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card bg-success text-white">
              <img src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0114/ERNPc4gFqeRDG1tYQIfOKQtM.png" class="card-img-top" alt="Movie Title" />
              <div class="card-body">
                  <h5 class="card-title">DOOM</h5>
                  <p class="card-text">Género: Acción - Año: 1990</p>
                  <p class="card-text">
                      <strong>Alquiler:</strong> $7.00 <br />
                      <strong>Compra:</strong> $25.00
                  </p>
                  <button class="btn btn-primary btn-sm">Ver Detalles</button>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card bg-success text-white">
            <img src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0114/ERNPc4gFqeRDG1tYQIfOKQtM.png" class="card-img-top" alt="Movie Title" />
            <div class="card-body">
                <h5 class="card-title">DOOM</h5>
                <p class="card-text">Género: Acción - Año: 1990</p>
                <p class="card-text">
                    <strong>Alquiler:</strong> $7.00 <br />
                    <strong>Compra:</strong> $25.00
                </p>
                <button class="btn btn-primary btn-sm">Ver Detalles</button>
            </div>
        </div>
    </div>
    
    </div>
</div>
  
  
  
  